<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunmengjie.cms.mapper.ArticlesMapper">

	<resultMap type="articles" id="articlesMapper">
		<result property="channelId" column="channel_id"/> <!-- 栏目  -->
		<result property="categoryId" column="category_id"/> <!-- 分类  -->
		<association property="channel" column="channel_id" javaType="com.sunmengjie.cms.entity.Channel" 
		   select="findChannel"></association>
		<association property="category" column="category_id" javaType="com.sunmengjie.cms.entity.Category"
			select="findCategory"></association>
		<association property="user" column="user_id" javaType="com.sunmengjie.cms.entity.User" 
			select="com.sunmengjie.cms.mapper.UserMapper.findUserById" ></association>
	</resultMap>
	
	
	
	<!-- 通过用户id查询文章 -->
	<select id="listByUser" resultMap="articlesMapper">
			SELECT id,title,channel_id,category_id,created,status,picture
			FROM cms_article 
			WHERE user_id=#{value}  AND deleted=0 
			ORDER BY id DESC
	</select>
	
	<!-- 查询栏目  -->
	<select id="findChannel" resultType="channel">
		SELECT id,name FROM cms_channel WHERE id=#{value}
	</select>
	
	<!-- 获取分类 -->
	<select id="findCategory" resultType="category">
		SELECT id,name FROM cms_category WHERE id=#{value}
	</select>
	
	<select id="findById" resultMap="articlesMapper">
		SELECT * FROM cms_article WHERE id=#{id} AND deleted=0
	</select>
	
	
	<!-- 文章管理  status = #{value}  AND-->	
	<select id="list" resultMap="articlesMapper">
		SELECT id,title,channel_id,category_id ,user_id, created,status,hot,picture
		 FROM cms_article
		 WHERE
		  deleted=0  
		  <if test="status!=-1"> AND status = #{status} </if>
		  ORDER BY id DESC
	</select>
	
	
	<!-- 获取热门文章 -->
	<select id="hotList" resultMap="articlesMapper">
		SELECT id,title,channel_id,category_id ,user_id, created,picture
		  FROM cms_article
		  WHERE status = 1 AND deleted=0
		  			AND hot=1
		  ORDER BY id DESC
	</select>
	
	<!-- 最新文章 -->
	<select id="lastList" resultMap="articlesMapper">
		SELECT id,title,channel_id,category_id ,user_id, created,picture
		  FROM cms_article
		  WHERE status = 1 AND deleted=0
		  			AND hot=1
		  ORDER BY id DESC
		  LIMIT #{value}
	</select>
	
	<select id="getArticles" resultMap="articlesMapper">
		SELECT id,title,channel_id,category_id ,user_id, created,picture
		  FROM cms_article
		  WHERE status = 1 AND deleted=0
		  	AND channel_id=#{channelId}
		  <if test="catId!=0">
		  	AND category_id=#{catId}
		  </if>   
		  ORDER BY id DESC 
    </select>
    
    <resultMap type="complain" id="ComplainMapper">
		<result column="article_id" property="articleId"/>
		<result column="user_id" property="userId"/>
		<result column="complaintype" property="complainType"/>
		<result column="urlip" property="urlip"/>
		
		<association column="user_id" property="user" 
			javaType="com.sunmengjie.cms.entity.User"
			select="com.sunmengjie.cms.mapper.UserMapper.findUserById"
		/>
		<association property="article" column="id" 
		javaType="com.sunmengjie.cms.entity.Articles" select="com.sunmengjie.cms.mapper.ArticlesMapper.findById">
		</association>
	</resultMap>
    
    <select id="getComplains" resultMap="ComplainMapper">
		SELECT * FROM cms_complain where article_id=#{value}
	</select>
	
	<select id="getComplain" resultMap="ComplainMapper">
	SELECT b.`id`,b.title,b.content,a.complaintype,b.`complainCnt` FROM cms_complain a 
	LEFT JOIN cms_article b ON a.`article_id`=b.`id` WHERE b.`complainCnt`>0
	<if test="com != 0 "> AND a.complaintype =#{com} </if>
	<if test="t1 != null and t1 != ''"> AND b.`complainCnt`>= #{t1} </if>
	<if test="t2 !=null and t2 != ''">  AND b.`complainCnt`&lt;= #{t2} </if>
	 ORDER BY a.created ${dis}
	</select>
	
</mapper>